.vscode/**
src/**
scripts/**
svg/**
*.vsix
todo*.md
node_modules/**
firmware/avr/**
.gitignore
.vscodeignore
esbuild.js
tsconfig.json
**/*.map
**/.git/**
test-assets/**
images/**
K.png
KN&B.png
KablixMini.png
